:root,:root[theme-mode="light"] {
  --td-brand-color-1: #f2f2ff;
  --td-brand-color-2: #dbe1ff;
  --td-brand-color-3: #b8c7ff;
  --td-brand-color-4: #91aaff;
  --td-brand-color-5: #678bff;
  --td-brand-color-6: #336DF4;
  --td-brand-color-7: #1456f0;
  --td-brand-color-8: #0442D2;
  --td-brand-color-9: #002684;
  --td-brand-color-10: #00185c;
  --td-radius-small: 4px;
  --td-radius-default: 6px;
  --td-radius-medium: 12px;
  --td-radius-large: 18px;
  --td-radius-extraLarge: 24px;
}
:root[theme-mode="dark"] {
  --td-radius-small: 4px;
  --td-radius-default: 6px;
  --td-radius-medium: 12px;
  --td-radius-large: 18px;
  --td-radius-extraLarge: 24px;
}
